* {
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
:root {
  --color-one: #121215;
  --color-two: #1e2125;
  --color-three: #b3773b;
  --color-four: #fff;
  --color-five: #7c8083;
  --color-border-items: #31363c;
}
.button {
  border: 0;
  width: 150px;
  height: 50px;
  background: var(--color-three);
  border-radius: 35px;
  color: var(--color-four);
  font-weight: bold;
}
.button:hover {
  border: 1px solid var(--color-four);
  width: 150px;
  height: 50px;
  border-radius: 35px;
  background: transparent;
  transition: all 0.5s ease;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 540px;
  }
}
/* FIXED CONTACT */
.fixed-contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
}
.fixed-contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.fixed-contact a.zalo {
  background-color: #2196f3;
}
.fixed-contact a.phone {
  background-color: #e60808;
}
.fixed-contact a.chatbot {
  background-color: #fff; /* xanh lá dễ thương */
}
.fixed-contact a:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.fixed-contact a img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
/* END FIXED CONTACT */
